//
//  Secret.xcconfig
//  Vitesse
//
//  Created by Richard DOUXAMI on 19/12/2025.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

API_PROTOCOL = http
API_HOST = 127.0.0.1
API_PORT = 8080

API_ADMIN_NAME = admin@vitesse.com
API_ADMIN_PWD = test123
